fastapi
uvicorn[standard]
python-dotenv
requests
streamlit
faster-whisper
streamlit-mic-recorder
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
numpy
scikit-learn
tavily-python

