fastapi
uvicorn[standard]
python-dotenv
requests
faster-whisper
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
numpy
scikit-learn
tavily-python


